1 Trimestre/Pruebas (basurero)/10-11/Guga_p136_SchemaBrazilconMinutos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="pelicula">
     <complexType>
       <all>
         <element name="titulo" type="string"/>
         <element name="minutos" type="integer"/>
       </all>
     </complexType>
   </element>
</schema>